<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
        <div class="container" th:fragment="content">
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary">New</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <table id="table-product" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Variation</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Variation</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
